@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
  --selection-background-color: #333;
  --selection-text-color: #fff;
  --button-hover-color: #808080;
  --background-color: #fff;
  --border-color: #a9a9a9;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  transition: .2s;
  border-radius: 10px;
}

body {
  background-color: var(--background-color);
}

body > * {
  padding: 30px;
}

body * {
  color: var(--text-color);
}

body *::selection {
  border-radius: 10px;
  background-color: var(--selection-background-color);
  color: var(--selection-text-color);
}

input {
  outline: none;
  border: 2px solid var(--border-color);
  padding: 0 30px;
  border-radius: 100px;
}

button {
  outline: none;
  cursor: pointer;
}

body > header {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) .1fr;
  gap: 10px;
}

/* THEMES */

body > header div#themes {
  display: flex;
  justify-content: center;
}

body > header div#themes button {
  padding: 10px;
}

body > header div#themes button:first-child {
  border-radius: 50px 0 0 50px;
}

body > header div#themes button {
  border-radius: 0;
}

body > header div#themes button:last-child {
  border-radius: 0 50px 50px 0;
}

body > header div#themes button#black-theme {
  background-color: #333;
  color: #fff;
}

body > header div#themes button#black-theme:hover {
  text-shadow: 0 0 3px #fff;
}

body > header div#themes button#white-theme {
  background-color: #fff;
  color: #333;
}

body > header div#themes button#white-theme:hover {
  text-shadow: 0 0 3px #333;
}

body > header div#themes button#coffee-theme {
  background-color: #533;
  color: #baa;
}

body > header div#themes button#coffee-theme:hover {
  text-shadow: 0 0 3px #baa;
}

/* /THEMES */

body > main#task-list {
  display: grid;
  grid: masonry / repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 1em;
}

body > main#task-list .task {
  border-radius: 100px;
  border: 4px solid var(--border-color);
}

body > main#task-list .task header.task-title {
  margin: 30px 30px 0 30px;
  text-align: center;
}

body > main#task-list .task footer.action-buttons {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

body > main#task-list .task:hover footer.action-buttons {
  opacity: 1;
}

body > main#task-list .task footer.action-buttons * {
  font-family: Arial;
}

body > main#task-list .task footer.action-buttons button:hover {
  color: var(--button-hover-color);
}

body > main#task-list .task footer.action-buttons button.delete {
  transform: scaleX(-1) rotate(-90deg);
}

body > main#task-list .task footer.action-buttons button.change {
  transform: scaleX(-1) rotate(-45deg);
}

body > main#task-list .task footer.action-buttons button.ok {
  transform: scaleX(-1) rotate(-45deg);
}

body > footer {
  padding: 0;
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

body > footer button#new-task, #add-task {
  background-color: var(--text-color);
  color: var(--background-color);
  font-family: monospace;
  border-radius: 1em;
  font-size: 50px;
  line-height: 0;
  padding: 10px;
  height: 1em;
  width: 1em;
}

body > footer button#new-task:hover {
  background-color: var(--button-hover-color);
  /* background: linear-gradient(-45deg, green, lime);
  transition: 1s; */
}

body > section#popups {
  display: none;
}
